<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink -to-fit=no">
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>My First Bootstrap Page</h1>
        <p>This part is inside a .container class.</p> 
        <p>The .container class provides a responsive fixed width container.</p>
        <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.</p>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#products"> Products </a></li>
          <!--<li><a class="nav-link scrollto" href="#team"> Testimonials</a></li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
</body>
</html>